/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0rem;
	margin: 0rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

body {
	line-height: 1;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration-line: none;
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Font family declaration */

@font-face {
	font-family: "Acumin";
	src: url(./fonts/acumin-regular.woff);
}

html {
	font-size: 10px;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--signm-color-white: #ffffff;
	--signm-color-black: #000000;
	--signm-color-beige: #f4ebe4;
	--signm-color-green: #4e514a;
	--signm-color-blue: #abc5ce;
	--signm-color-grey--300: #808080;
	--signm-color-grey--200: #b3b3b3;
	--signm-color-grey--100: #e6e6e6;
	--primary-font: "Acumin";
	--container-margin: 5%;
}

body {
	background-color: var(--signm-color-beige);
	font-family: var(--primary-font);
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

/* Background */

.bg-signm-green {
	background-color: var(--signm-color-green);
	color: var(--signm-color-white);
}

.bg-signm-white {
	background-color: var(--signm-color-white);
}

.bg-signm-blue {
	background-color: var(--signm-color-blue);
}

.bg-signm-beige {
	background-color: var(--signm-color-beige);
}

.bg-gradient {
	background-color: #111111e3;
}

/* Typography */

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 900;
}

.text-md {
	font-size: 1.4rem;
}

.text-xl {
	font-size: 2.4rem;
}

.text-end {
	text-align: right;
}

/* Flex properties */

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.align-start {
	align-items: start;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: end;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.space-evenly {
	justify-content: space-evenly;
}

.gap-x-1 {
	gap: 0rem 1rem;
}

.gap-x-2 {
	gap: 0rem 2rem;
}

.gap-x-4 {
	gap: 0rem 4rem;
}

/* Display */

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hide {
	display: none;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

/* Margin */
.auto {
	display: block;
	margin: 0rem auto;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-12 {
	margin-bottom: 1.2rem;
}

.mb-40 {
	margin-bottom: 4rem;
}

.mb-black {
	border-bottom: 1px solid var(--signm-color-black);
}

/* Height */
.h-full {
	height: 100%;
}

.h-70 {
	height: 75%;
}

.h-4 {
	height: 4rem;
}

.h-fit-content {
	height: fit-content;
}

/* Width */

.w-full {
	width: 100%;
}

.w-half {
	width: 50%;
}

.w-12 {
	width: 12rem;
}

.w-300 {
	width: 20rem;
}

/* Padding */
.py-container {
	padding: var(--container-margin) 0rem;
}

.py-1 {
	padding: 1rem 0rem;
}

.py-20 {
	padding: 2rem 0rem;
}

.py-36 {
	padding: 3.6rem 0rem;
}

.py-40 {
	padding: 4rem 0rem;
}

.pt-36 {
	padding-top: 3.6rem;
}

.pb-20 {
	padding-bottom: 2rem;
}

.pb-60 {
	padding-bottom: 6rem;
}

/* Element Selectors */

h1 {
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 3.6rem;
}

h2 {
	font-size: 4.2rem;
	font-weight: 400;
	line-height: 4.4rem;
}

h3 {
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 3.6rem;
}

h4 {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 2.2rem;
}

h5 {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.6rem;
}

/* Class Selectors */
.scroll {
	overflow: auto;
}

.text-link {
	text-decoration-line: underline;
	cursor: pointer;
}

.container {
	margin: 0rem var(--container-margin);
}

.ml {
	margin-left: var(--container-margin);
}

.px {
	padding: 0rem var(--container-margin);
}

.banner {
	padding: 1.2rem 2rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.banner-icon {
	padding: 0rem 0.8rem;
}

.hamburger-menu > div {
	width: 1.8rem;
	border: 0.1rem solid black;
	margin: 0.4rem;
	position: relative;
	z-index: 5;
}

.hamburger-options {
	display: none;
	width: 100%;
	height: 100%;
}

.hamburger-options > ul a:focus-within ~ ul {
	display: block;
}

.web-nav-option {
	left: 0rem;
	top: 12rem;
}

.hamburger-toggle {
	appearance: none;
	position: absolute;
}

.hamburger-toggle:checked ~ .hamburger-options {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0rem;
	top: 44px;
}

.hero-img {
	right: 0rem;
	left: 0rem;
	width: 100%;
	margin-top: 4rem;
}

.hero-float-img {
	display: none;
	width: 40%;
	height: 680px;
}

.primary-btn {
	display: block;
	border: 0.1rem solid var(--signm-color-black);
	border-radius: 5rem;
	height: 5.8rem;
	line-height: 5.8rem;
	font-size: 1.8rem;
	text-align: center;
}

.secondary-btn {
	display: block;
	border: 0.1rem solid var(--signm-color-black);
	border-radius: 5rem;
	height: 3.8rem;
	line-height: 3.4rem;
	font-size: 1.4rem;
	padding: 0rem 2rem;
	text-align: center;
}

.description {
	font-size: 1.8rem;
	margin: 3rem 0rem;
}

.nav-option {
	font-size: 1.4rem;
	display: inline-block;
}

.nav-option > li:hover {
	text-decoration: underline;
	text-underline-offset: 1.4rem;
}

.web-menu > li:hover .web-nav-option {
	display: flex;
}

.carousal > li {
	width: 260px;
	height: 494px;
}

.carousal h3 {
	height: 6.6rem;
}

.community {
	justify-self: end;
}

.community-cover-img {
	width: 260px;
	height: 200px;
}

.community-logo {
	margin-left: 1.8rem;
	height: 6rem;
}

.construction-img {
	width: 100%;
	margin-top: 4rem;
	margin-bottom: var(--container-margin);
}

.book-cover {
	display: block;
	margin: 0rem auto;
}

.takeaway {
	border-left: 0.2rem solid var(--signm-color-white);
	padding-left: 2rem;
}

.left-border-black {
	border-left: 0.2rem solid var(--signm-color-black);
	padding-left: 2rem;
}

.footer-links li {
	width: 110px;
}

.footer-links li,
.footer-links h5 {
	margin-bottom: 2rem;
}

.footer-links a {
	font-size: 1.2rem;
}

.nav-option > li.no-underline {
	text-decoration-line: none;
	text-decoration-skip-ink: auto;
	color: currentColor;
}

.hide {
	display: none;
}

@media screen and (min-width: 760px) {
	* {
		--container-margin: 10%;
	}

	.md-hide {
		display: none;
	}

	.md-right {
		float: right;
	}

	.md-block {
		display: block;
	}

	.md-row {
		flex-direction: row;
	}

	.md-end {
		align-items: end;
	}

	.md-col {
		flex-direction: column;
	}

	.takeaway {
		font-size: 1.4rem;
		margin-bottom: 0rem;
		width: 280px;
	}

	.w-38 {
		width: 38%;
	}

	.w-20 {
		width: 20%;
	}

	.h-40 {
		height: 40rem;
	}

	.md-h-half {
		height: 80%;
	}

	.cause {
		height: 450px;
		padding: 0rem;
	}

	.construction-img {
		margin: 0rem;
		padding-left: 1rem;
		height: 450px;
		width: 60%;
		position: relative;
		left: 5%;
	}

	.py-6 {
		padding: 6rem 0rem;
	}

	.book-cover {
		margin: 0rem;
		width: 260px;
		height: 420px;
	}
}

@media screen and (min-width: 1440px) {
	* {
		--container-margin: 14%;
	}

	.lg-hide {
		display: none;
	}

	.md-end {
		justify-content: end;
	}

	.md-w-30 {
		width: 20%;
	}

	.lg-block {
		display: block;
	}

	.lg-flex {
		display: flex;
	}

	.lg-row {
		flex-direction: row;
	}

	.lg-pb-0 {
		padding-bottom: 0rem;
	}

	.construction-img {
		left: 14%;
	}

	.primary-btn {
		width: 282px;
	}
}
