/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

body {
	line-height: 1;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration-line: none;
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Font family declaration */

@font-face {
	font-family: "Acumin";
	src: url(./fonts/acumin-regular.woff);
}

* {
	--signm-color-white: #ffffff;
	--signm-color-black: #000000;
	--signm-color-beige: #f4ebe4;
	--signm-color-green: #4e514a;
	--signm-color-blue: #abc5ce;
	--signm-color-grey--300: #808080;
	--signm-color-grey--200: #b3b3b3;
	--signm-color-grey--100: #e6e6e6;
	--primary-font: "Acumin";
}

body {
	background-color: var(--signm-color-beige);
	font-family: var(--primary-font);
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

/* Background */

.bg-signm-green {
	background-color: var(--signm-color-green);
	color: var(--signm-color-white);
}

.bg-signm-white {
	background-color: var(--signm-color-white);
}

.bg-signm-blue {
	background-color: var(--signm-color-blue);
}

/* Typography */

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 900;
}

.text-md {
	font-size: 14px;
}

.text-end {
	text-align: right;
}

/* Flex properties */

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: end;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.space-evenly {
	justify-content: space-evenly;
}

.gap-x-5 {
	gap: 0px 20px;
}

.gap-x-10 {
	gap: 0px 40px;
}

/* Display */

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hide {
	display: none;
}

.block {
	display: block;
}

/* Margin */
.auto {
	display: block;
	margin: 0px auto;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-40 {
	margin-bottom: 40px;
}

/* Width */

.w-full {
	width: 100%;
}

/* Padding */

.py-20 {
	padding: 20px 0px;
}

.py-36 {
	padding: 36px 0px;
}

.py-40 {
	padding: 40px 0px;
}

.pt-36 {
	padding-top: 36px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-64 {
	padding-bottom: 64px;
}

/* Element Selectors */

h1 {
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
	width: 200px;
}

h2 {
	font-size: 42px;
	font-weight: 400;
	line-height: 44px;
	width: 200px;
}

h3 {
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
	width: 200px;
}

h4 {
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	width: 200px;
}

h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

/* Class Selectors */

.text-link {
	text-decoration-line: underline;
	cursor: pointer;
}

.container {
	margin: 0px 20px;
}

.left-container {
	width: inherit;
}

.left-margin {
	margin-left: 20px;
}

.banner {
	padding: 12px 20px;
	font-size: 12px;
	font-weight: 400;
}

.banner-icon {
	padding: 0px 8px;
}

.hamburger-toggle {
	appearance: none;
}

.hero-img {
	right: 0px;
	left: 0px;
	width: 100%;
}

.hero-float-img {
	float: right;
	width: 320px;
	height: 580px;
}

.primary-btn {
	display: block;
	border: 1px solid var(--signm-color-black);
	border-radius: 50px;
	margin: 48px 0px;
	height: 58px;
	line-height: 58px;
	text-align: center;
}

.description {
	font-size: 18px;
	margin-bottom: 30px;
}

.menu {
	width: 100px;
}

.hamburger-menu > div {
	width: 18px;
	border: 1px solid black;
	margin: 4px;
}

.nav-option {
	font-size: 14px;
}

.carousal {
	overflow: auto;
	padding: 0px 20px;
}

.carousal > li {
	width: 260px;
	height: 494px;
}

.carousal h3 {
	height: 66px;
}

.community {
	justify-self: end;
}

.community-cover-img {
	width: 260px;
	height: 200px;
}

.community-logo {
	margin-left: 18px;
	height: 60px;
}

.construction-img {
	width: 100%;
}

.book-cover {
	display: block;
	margin: 0px auto;
}

.takeaway {
	border-left: 2px solid var(--signm-color-white);
	padding-left: 20px;
}

.footer-links > li {
	width: 120px;
}

.footer-links li,
.footer-links h5 {
	margin-bottom: 20px;
}

.footer-links a {
	font-size: 12px;
}

@media screen and (max-width: 760px) {
	.hero-float-img {
		display: none;
	}
}

@media screen and (min-width: 760px) {
	.container {
		margin: 0px 84px;
	}

	.left-margin {
		margin-left: 84px;
	}

	.carousal {
		padding: 0px 84px;
	}

	.carousal > li {
		/* margin: 64px 20px; */
	}
}

@media screen and (min-width: 760px) {
	.hero-img {
		display: none;
	}
	.left-container {
		width: 290px;
	}
	.construction-img {
		width: 324px;
		height: 324px;
	}
	.book-cover {
		margin: 0px;
	}
}
