/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchor-linked to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* Above reset css */

* {
	/* Typography */
	--primary-font-family: "Maven Pro", sans-serif;
	--secondary-font-family: "Lato", sans-serif;
	/* Palette */
	--primary-color: #fd7403;
	--secondary-color: #061037;
	--tertiary-color: #081855;
	--grey-color: #faf9f8;
	--primary-font-color: #111827;
	--secondary-font-color: #ffffff;
	--tertiary-font-color: #ffffffbf;
	--secondary-sub-text-color: #6b6b6b;
	--border-color: #e0e0e0;
	--gradient-blue: #25336de5;
	--dot: #455bb0;

	font-family: var(--secondary-font-family);
}

/* Element selectors */

h1 {
	font-size: 60px;
	font-weight: 700;
	font-family: var(--primary-font-family);
}

h2 {
	font-family: var(--primary-font-family);
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

h3 {
	font-size: 48px;
	font-weight: 400;
	padding-top: 48px;
	font-family: var(--primary-font-family);
	color: var(--secondary-font-color);
}

h4 {
	font-family: var(--primary-font-family);
	font-size: 36px;
	font-weight: 400;
}

h5 {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 32px;
	width: 440px;
}

h6 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.08em;
}

p {
	font-size: 20px;
	font-weight: 500;
}

q {
	font-family: var(--primary-font-family);
	font-size: 36px;
	font-weight: 500;
	line-height: 40px;
}

a {
	text-decoration-line: none;
}

/* Utility class */

.container {
	margin: 0px 120px;
}

.secondary-container {
	background-color: var(--secondary-color);
	color: var(--secondary-font-color);
}

.secondary-container p {
	color: inherit;
}

.secondary-container a {
	color: inherit;
}

.tertiary-bg-color {
	background-color: var(--tertiary-color);
	color: var(--tertiary-font-color);
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.space-evenly {
	justify-content: space-evenly;
}

.justify-content-end {
	justify-content: end;
}

.primary-btn {
	display: block;
	background-color: var(--primary-color);
	color: var(--secondary-font-color);
	padding: 10px 36px;
	font-size: 16px;
	text-align: center;
}

.btn-lg {
	width: 294px;
	font-size: 18px;
	margin-top: 40px;
	box-shadow:
		0px 10px 10px -5px #0000000a,
		0px 20px 25px -5px #0000001a;
}

.bg-blue {
	background-color: var(--secondary-color);
}
.bg-grey {
	background-color: var(--grey-color);
}
.uppercase {
	text-transform: uppercase;
}

.primary-font-color {
	color: var(--primary-font-color);
}

.primary-color {
	color: var(--primary-color);
}

.align-self-start {
	align-self: flex-start;
}

.text-center {
	text-align: center;
}

.hr-center {
	margin: 0px auto;
}

.wp-10 {
	width: 10%;
}

.w-75 {
	width: 75px;
}

.w-570 {
	width: 570px;
}

.mx-50 {
	margin-right: 100px;
	margin-left: 100px;
}

.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.my-100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-36 {
	margin-top: 36px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mb-46 {
	margin-bottom: 46px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-84 {
	padding-top: 84px;
}

.pb-26 {
	padding-bottom: 26px;
}

.py-140 {
	padding-top: 140px;
	padding-bottom: 140px;
}

.pt-100 {
	padding-top: 100px;
}

.relative {
	position: relative;
}

/*   Custom class */

.anchor-link {
	display: block;
	padding: 16px 0px;
	font-size: 20px;
	font-weight: 700;
}

.logo {
	line-height: 0px;
}

.nav {
	width: 100%;
	padding: 54px 36px;
	padding-bottom: 0px;
	font-size: 18px;
}

.nav-menu > li {
	padding: 8px 18px;
}

.nav-user-menu {
	width: 220px;
	height: 42px;
}

.nav-list {
	display: flex;
	width: 980px;
	height: 42px;
	justify-content: space-between;
	align-items: center;
}

.hero-content {
	width: 300px;
	margin: 40px;
}

.hero-content * {
	margin-bottom: 36px;
}

.dot {
	font-family: var(--secondary-font-family);
	color: var(--dot);
	font-size: 80px;
}

.hero-fg-img {
	top: 10px;
	position: relative;
	width: 800px;
	height: 750px;
}

.hero-bg-img {
	position: absolute;
	top: 110px;
	left: 60px;
	width: 526px;
	height: 352px;
}

.services {
	margin: 80px 0px;
	align-items: end;
}

.services > li {
	width: 270px;
	height: 614px;
	transition: transform 0.2s;
}

.services > li:hover {
	transform: scale(1.1);
}

.services h6 {
	font-size: 18px;
	font-weight: 700;
}

.services p {
	margin: 10px 0px;
	font-size: 18px;
	font-weight: 400;
}

.service-details {
	margin: 40px 22px;
}

ul.tools {
	padding: 56px 0px;
}

.tools > li {
	margin: 22px;
}

.tools > li > svg {
	display: block;
}

.tools p {
	font-size: 18px;
	width: 260px;
}

.gradient {
	position: relative;
	display: inline-block;
}

.gradient::after {
	background-image: linear-gradient(
		to top,
		var(--gradient-blue) 0%,
		transparent 30%
	);
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.sub-text {
	width: 570px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 22px auto;
	padding: 14px 8px;
}

.secondary-sub-text {
	font-size: 16px;
	color: var(--secondary-sub-text-color);
}

.side-container {
	width: 480px;
}

.side-container:nth-child(odd) {
	margin: 0px 100px;
}

.cover-fit {
	width: 50%;
}

.bar {
	border: 4px solid var(--primary-color);
}

.app-service-list {
	width: 288px;
	height: 586px;
}

.footer-links {
	width: 650px;
}

.message-box {
	background-color: var(--secondary-font-color);
	color: var(--primary-font-color);
	padding: 10px 20px;
	border-radius: 10px 10px 0px 10px;
	position: relative;
}

.message-box::after {
	position: absolute;
	content: "";
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 10px solid var(--secondary-font-color);
	top: 34px;
	left: 118px;
}

.chat-with-us {
	width: 240px;
	position: relative;
	left: 1200px;
}

.clients {
	background:
		url(./images/left-bg-img.png) left bottom no-repeat,
		url(./images/right-bg-img.png) right bottom no-repeat,
		var(--grey-color);
}

.feedback {
	align-self: end;
	margin-bottom: 68px;
}

.progress {
	width: 257px;
	background-color: var(--border-color);
}

.book-service {
	width: 580px;
}

.faq-headings {
	font-family: var(--secondary-font-family);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}

.faq-subtext {
	display: none;
}

.collapsible-faq > li {
	border-bottom: 2px solid var(--border-color);
}

.collapsible-faq > li:has(.toggle:checked) > .faq-subtext {
	display: block;
}

.collapsible-faq label {
	line-height: 80px;
}

.collapsible-faq label,
.collapsible-faq input {
	cursor: pointer;
}

.toggle {
	appearance: none;
	font-size: 40px;
	color: var(--primary-color);
	border-radius: 0.5rem;
}

.toggle::before {
	content: "+";
}

.toggle:checked::before {
	content: "—";
	font-size: 26px;
	font-weight: 800;
}
